.activeChat {
  color: red;
  font-weight: bold;
}

.passiveChat {
  color: black;
}

.chatList {
  list-style-type: none;
  margin-right: 20px;
  line-height: 200%;
  min-width: 100px;
}

.chatList a {
  text-decoration: none;
  color: inherit;
}
